@import url('colors.css');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
.header {
    width: 100%;
    height: 3em;
    margin-top: 1em;
}
#bannerContent {
    height: 100%;
    aspect-ratio: 1/1;
}
#about-section {
    align-items: start;
}
#about-me-content {
    width: 90%;
}
#disclaimer-section {
    align-items: start;
}
#disclaimer-content {
    width: 90%;
}
#about-me-table-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
#container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#media-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonIcon{
    width: 2em; 
    height: 2em;
}

.buttonText {
    margin-left: 1em;
    color: var(--primary-color);
}
p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 1.5em;
    font-family: monospace;
}
a {
    color: var(--text-color);
}
h1 {
    color: var(--text-color);
    font-family: monospace;
}
td {
    padding: 0.3em;
}
table {
    color: var(--text-color);
    font-family: monospace;
    font-size: 1.5em;
    border: 0.1em solid var(--accent-color);
    border-radius: 1em;
}

button {
    border: solid var(--accent-color) 0;
    border-radius: 90em;
    outline: none;
    background-color: var(--accent-color);
    box-shadow: 0em 0em 1em var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    margin: 1em;
    height: 4em;
}
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body > div {
    scroll-snap-align: center;
}
